<section>
	<h1>Code:</h1>
	<div class="carouselss-demo-code-section">
		<div class="carouselss-demo-code-section-box">
			<h2>JS:</h2>
			<pre class="carouselss-demo-script-code-box"></pre>

			<h2>HTML</h2>
			<pre class="carouselss-demo-markup-code-box"></pre>
		</div>
		<div class="carouselss-demo-code-section-box">
			<h2>CSS:</h2>
			<pre class="carouselss-demo-style-code-box"></pre>
		</div>
	</div>
</section>