body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.25;

	-moz-tab-size: 4; 
	-o-tab-size: 4; 
	tab-size: 4;
}

.carouselss-demo-title
{

}

.carouselss-demo-code-section
{
	display: flex;
}

.carouselss-demo-code-section-box
{
	flex: 1;
}

.carouselss-demo-script-code-box,
.carouselss-demo-markup-code-box,
.carouselss-demo-style-code-box
{
	overflow: auto;

	max-height: 400px;

	padding: 8px;
	margin: 8px;

	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);
}