/* CSS Document */
body{margin:0px; padding:0px;  color:#040404; font:12px/18px "Times New Roman", Comic Sans MS, Trebuchet MS,Arial; }
div, p, ul, h1, h2, h4, img, form, label{padding:0px; margin:0px;}
ul{list-style-type:none;}



.login {font-family:Georgia; font-size:14px; color:#000000;}
.login a:link {font-family:Georgia; font-size:14px; color:#990000;}
.login a:hover{font-family:Georgia; font-size:14px; color:#006699;}


